:root {
	box-sizing: border-box;
    scroll-behavior: smooth;
}

*, ::before, ::after {
    box-sizing: inherit;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* check for overflowed elements - use mobile devtools simulator

* {
    outline: 1px solid red;
}

*/


body {
    font-size: 100%;
    font-family: 'Lato', sans-serif;
    color: $gray-darkest;
    
    overflow-x: hidden;
      
    @include breakpoint (max-width 1130px) {
        font-size: .95em;
    }
}

section {
    padding: 10em 2em;
    
    @include breakpoint (max-width $medium-760) {
        padding: 8em 1em;
    }
    
    @include breakpoint (max-width $smaller-400) {
        padding: 6em .5em;
    }
}



.pre-heading {
    text-transform: uppercase;
    text-align: center;
    color: $gray-dark;
    margin-bottom: .2em;
    
    @include breakpoint (max-width $mobile-hamburger) {
        font-size: .95em;
        margin-bottom: .15em;
    }
    
    @include breakpoint (max-width $tiny-369) {
        font-size: .9em;
    }
}

.sect-heading {
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: .2em;
    color: $gray-darker;
    
    @include breakpoint (max-width $mobile-hamburger) {
        font-size: 2.3em;
        letter-spacing: 1px;
    }
    
    @include breakpoint (max-width $medium-760) {
        font-size: 2.1em;
        letter-spacing: normal;
    }
    
    @include breakpoint (max-width $small-560) {
        font-size: 1.9em;
    }
    
    @include breakpoint (max-width $smaller-450) {
        font-size: 1.7em;
    }
    
    @include breakpoint (max-width $tiny-369) {
        font-size: 1.5em;
    }
}

.sect-heading-img {
    height: 13px;
    width: 142px;
    background-image: url('../img/heading-img.svg');
    margin: 0 auto 3em auto;
    opacity: .5;
}

.sect-heading-img--program, 
.sect-heading-img--curriculum, 
.sect-heading-img--contactus {
    margin-bottom: 10em;
    
    @include breakpoint (max-width $medium-760) {
        margin-bottom: 5em;
    }  
}

.handprints {
    height: 140px;
    background-image: url('../img/handprints-heart.jpg');
    background-position: left bottom;
    background-size: contain;
    
    // these allow bg imgs to be repeated without clipping.
    background-repeat: round; // or space
    
    
    @include breakpoint (max-width $small-560) {
        height: 100px;    
    }
    
}

.line__subhdg {
    max-width: 1280px;
    text-transform: uppercase;
    color: $gray-dark;
    font-size: 1.65em;
    margin: 0 auto .75em auto;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-column-gap: .5em;
    align-items: center;
    letter-spacing: .02em;
    word-spacing: .05em;
    
    @include breakpoint (max-width $smaller-450) {
        font-size: 1.5em;
    }
    
    &::before {
        content: "";
        height: .3125em;
        background-image: linear-gradient(to left, $aqua, transparent);
        border-radius: .625em;
    }
    
    &::after {
        content: "";
        height: .3125em;
        background-image: linear-gradient(to right, $aqua, transparent);
        border-radius: .625em;
    }
}

.hero {
    position: relative;
}

.brush {
    background-image: url('../img/brush-hero-btm.png');
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    height: 63px;
}