@include breakpoint-set("to ems", true);

$gray-light: rgb(176,176,176);
$gray-lighter: rgb(224,224,224);
$gray: rgb(128,128,128);
$gray-dark: rgb(80,80,80);
$gray-darker: rgb(51,51,51);
$gray-darkest: rgb(32,32,32);

$black-lighter: rgb(17,17,17);

$royalblue: rgb(0, 44, 128);
$aqua: #0188cc;

$red-heart: rgb(186,0,0);


$mobile-hamburger: 920px;
$medium: 780px;
$small: 560px;


