


div#content1{
	padding: 5px 10px;
	margin-bottom: 15px;
	width:95%;
}

div#content2{
	padding: 5px 10px;
	margin-bottom: 15px;
	width:95%;
}

div#content3{
	padding: 5px 10px;
	width:95%;
}

div#content1 , div#content2 , div#content3 {
	padding: 5px 10px;
	overflow: hidden;
	position: relative;
}

.comingsoon {
    padding: 3em;
    font-size: 1.5em;
    color: darkred;
    border: 1px solid currentColor;
    width: 80%;
    margin: 1em auto;
}