.handprints {
    height: 120px;
    background-image: url('../img/handprints.jpg');
    background-position: left bottom;
    background-size: contain;
    background-repeat: repeat-x;
}

.hero__wrap-2 {
    background-image: url('../img/hero-aboutus.jpeg');
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5em;
    background-size: cover;
    
    background-attachment: fixed;
}

.hero__heading {
    color: #fff;
}


.aboutus {
    max-width: 1280px;
    margin: 0 auto;
    
    &__wrap {
        width: 70%;
        margin: 6em auto 0 auto;
    }
    
    &__sect {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;
        grid-gap: 1.5em 1.25em;
        margin-bottom: 3em;
    }
    
    &__imgwrap {
        background: url('../img/blue-circle-bubble.png') no-repeat top left;
        height: 60px;
        width: 58px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    &__icon {
        fill: #fff;
        width: 1.4em;
        height: 1.4em;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    
    &__hdg {
        font-weight: 300;
        position: relative;
        font-size: 1.6em;
        justify-self: start;
        align-self: center;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        
        &::after {
            content: "";
            position: absolute;
            height: 1px;
            background-color: $gray-lighter;
            width: 1.5em;
            bottom: -.5em;
            left: 0;
        }
    }
    
    &__summary {
        font-size: 1.1em;
        line-height: 1.4;
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        
    }
    
}





/******* 1st accordion *********/
/*
.aboutus {
    
    max-width: 1280px;
    margin: 0 auto 200px auto;
    background-color: #ccc;

    &__main-wrap {
        width: 90%;
        margin: 0 auto;
        overflow: hidden; 
    }
    
    &__tabs { 
        height: 25vh;
        background-image: url('../img/hightlights-bg_02.jpg');
        background-size: cover;
        position: relative;

    }
    
    &__navlist {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 0; 
        left: 50%;
        transform: translateX(-50%);
    }
    
    &__navlist a {
        flex-shrink: 0;
        color: #fff; 
        font-size: 1.3em;
        padding: 1em 5em;
        background-color: royalblue;
        font-weight: 300;
    }
    
    &__navlist a.active {
        background-color: #fff;
        color: #000;
        pointer-events: none;
    }

    &__navlist a:not(:last-of-type) {
        margin-right: 1.5em;
    }
    
    &__span {
        font-weight: 900;
    }
    
    &__sect-wrap {
        height: 50vh;
        max-width: 1280px;
        margin: 0 auto;
        
    }
    
    &__sect-wrap > div {
        display: flex;
        align-items: flex-start;
        justify-content: center;

        height: auto;
        transition: all 400ms;
    }

    &__sect-wrap > .hidden {
        height: 0;
        overflow: hidden;
    }
    
    &__start {
        font-weight: 900;
        font-style: italic;
    }
    
    &__para {
        padding: 1em;
    }
    
    &__para--2 {
        padding: 1em;
        color: #fff;
        flex: 1;
    }
    
    &__para--3 {
        color: #000;
        padding: 1em;
    }
    
    
}

#ourmission {
    background-color: #fff;
    
}

#ourstory {
    background-image:  linear-gradient(to bottom, rgba(0,0,0,.3), rgba(0,0,0,.3)), url('../img/black-board.jpg');
}

#staff {
    background-color: #fff;
    flex-wrap: wrap;
}


*/





/**************** 2nd accordion *****************/


.about-us-2 {
    max-width: 1280px;
    margin: 0 auto 200px auto;
}

.accordion-wrap-2 {
    width: 80%;
    margin: 0 auto;
}

button.accordion {
    font-family: 'Lato', sans-serif;
    transition: background-color 300ms linear;
    background-color: $royalblue;
    color: #fff;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    padding: 15px 20px;
    font-size: 1.3em;
    cursor: pointer;
    
    font-weight: 300;
}

.accordion__icon {
    width: 1em;
    height: 1em;
    float: right;
    transform: translateY(.23em);
}

button.accordion:hover, button.accordion.is-open {
    background-color: lighten($royalblue, 15%);
}

div.accordion-content {
    padding: 0 20px;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    max-height: 0;
    overflow: hidden;
    transition: max-height 300ms ease-in-out;
    background-color: lighten($gray-lighter, 5%);
    
    line-height: 1.4;
    font-size: 1.1em;
    
}

.accordion-para {
    margin: 1em 0;
}

.accordion-start-2 {
    font-weight: 900;
    font-style: italic;
    color: #000;
}

.accordion__span {
    font-family: 'Grand Hotel';
    font-size: 1.2em;
}






