
.cards {
    
    &__about {
        font-size: 1.1em;
        width: 80%;
        margin: 6em auto 8em auto;
        line-height: 1.5;
    }
    
    
    &__main-wrap {
        max-width: 1280px;
        margin: 0 auto;
    }
    
    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-gap: 2em;
        align-items: center;
    }
    
    &__wrap {
        background-color: #fff;
        border-radius: 10px;
        border: 1px solid $gray-lighter;
    }
    
    &__image-wrap {
        position: relative;
        width: 100%;
        overflow: hidden;
        z-index: 2;
        border-radius: 10px 10px 0 0;
    }
    
    &__image {
        width: 100%;
        height: auto;
        display: block;
    }
    
    
    &__wave {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        height: 0;
        
        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            background-repeat: repeat;
            height: 12px;
            background-size: 20px 20px;
            background-image: radial-gradient(circle at 10px -5px, transparent 14px, #fff 16px);
        }
        
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            background-repeat: repeat;
            height: 12px;
            background-size: 40px 20px;
            background-image: radial-gradient(circle at 10px 15px, #fff 12px, transparent 13px);
        }
    }
    
    &__content {
        padding: 1.5em; 
        display: flex;
        flex-direction: column;
    }
    
    &__icon {
        color: $aqua; 
        align-self: center;
        
        &::before {
           margin: 0 !important;
           font-size: 3em !important;
        
        }
    }
    
    &__icon.flaticon-kindergarten {
        &::before {
           margin: 0 !important;
           font-size: 3.2em !important;
        
        }
    }
    
    
    /* 3RD CARD START */
    &__icon-large {
        color: $royalblue !important;
        
        &::before {
            font-size: 3em;
        }
    }
    
    &__subheading-brush {
       position: relative;
       padding-bottom: 20px;
        
        &::after {
            background-color: $pink-brush;
            position: absolute;
            content: "";
            padding: 0;
            
            // removed 1px to get rid of tiny border lines on outside of paintbrush
            max-width: 274px; 
            width: 100%;
            display: inline-block;
            background-image: url('../img/footer_title_bg.png');
            background-position: left bottom;
            background-repeat: no-repeat;
            bottom: 0;
            left: 55%;
            transform: translateX(-50%);
            height: 14px;
        }
    }
    
    
    &__subheading-brush--2 {
        &::after {
            background-color: $blue-brush;
        }
    }
    
    &__subheading-brush--3 {
        &::after {
            background-color: $green-brush;
        }
    }
    
    &__subheading-brush-span--1, &__subheading-brush-span--2, &__subheading-brush-span--3 {
        font-weight: 700;
    }
    
    &__subheading {
        margin: .5em 0 1em 0;
        font-size: 1.7em;
        font-weight: 300;
        text-align: center;
    }
    
    &__icon-wrap {
        margin-bottom: 1em;
        display: flex;
        justify-content: center;
    }
    
    &__icon:not(:last-of-type) {
        margin-right: .3em;
    }
    
    &__summary {
        line-height: 1.5;
    }
    
    &__btn {
        margin: 3em 0;
        align-self: center;
    }
    

    
}

