

.hero__wrap--four {
    background-image: url('../img/chalkboard.jpg');
}


.curriculum {
    
    &__hdg {
        font-family: 'Bubblegum Sans', Arial;
        font-size: 7em;
        color: #000;
    }

    &__wrap {
        max-width: 1280px;
        margin: 6em auto 0 auto;
    }
    
    &__sect-wrap {
        
    }
    
    &__sect {
        display: flex;
        border: 1px solid $gray-lighter;
        margin-bottom: 4em;
    }
    
    &__sect--reverse {
        flex-direction: row-reverse;
    }
    
    &__image {
        max-width: 720px;
        height: auto;
        object-fit: cover;
    }
    
    /* This is necessary to make the bottom ratio section fill the entire height of its contents */
    &__main {
        display: flex;
        flex-direction: column;
    }
    
    &__top {
        color: #fff;
        padding: 1.5em;
        background-color: $pink-brush;
    }
    
    &__top--blue {
        background-color: $blue-brush;
    }
    
    &__top--green {
        background-color: $green-brush;
    }
    
    &__top--orange {
        background-color: $orange-brush;
    }
    
    &__heading {
        font-family: 'Bubblegum Sans', cursive;
        font-size: 1.6em;
        text-transform: uppercase;
        margin-bottom: 1em;
        text-align: center;
    }
    
    &__hearts {
        position: relative;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 1.5em;
    }
    
    &__hearts div {
        z-index: 99;
    }
    
    &__hearts div + div {
        margin-left: .1em;
    }
    
    &__hearts::before {
        flex: 0 0 100%;
        content: "";
        height: 2px;
        width: 100%;
        background-color: #fff;
        position: absolute;
        top: 44%;
        transform: translateY(-50%);
    }
    
    &__hearts-icon {
        height: 18px;
        width: 18px;
        fill: #fff;
    }
    
    &__info {
        
    }
    
    &__summary {
        line-height: 1.45;
        font-size: 1.1em;
    }
    
    &__link {
        color: #fff;
        border-bottom: 1px solid currentColor;
        transition: color 300ms ease-in;
        
        &:hover {
            color: #ddd;
        }
    }
    
    &__price {
        display: block;
        text-transform: uppercase;
        color: #fff;
        border: 1px solid #fff;
        padding: .75em 1.5em;
        background-color: transparent;
        border-radius: 99em;
        margin: 2em auto 0 auto;
        box-shadow: 1px 1px 3px rgba(0,0,0,.4);
        transition: 
            background-color 300ms ease-out,
            color 300ms ease-out,
            transform 150ms linear;
        width: 10em;
        text-align: center;
        
        &:hover {
            background-color: #fff;
            color: $pink-brush;
        }
        
        &:active {
            transform: translate(1px, 2px);
        }
    }
    
    &__price--blue {
        &:hover {
            color: $blue-brush;
        }
    }
    
    &__price--green {
        &:hover {
            color: $green-brush;
        }
    }
    
    &__price--orange {
        &:hover {
            color: $orange-brush;
        }
    }
    
    &__note {
        display: inline-block;
        font-style: italic;
        font-size: 1em;
        margin-top: .5em;
    }
    
    &__bottom {
        color: $gray-dark;
        padding: 2em;
        display: flex;
        justify-content: space-between;
        
        /* This is necessary to make the bottom ratio section fill the entire height of its contents */
        flex: 1;
    }
    
    &__subheading {
        margin: 0;
        font-size: 1.75em;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
    }
    
    &__ratio {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    &__ratio {
       border-left: 1px solid $gray-lighter; 
    }
    
    /* Using translate since padding makes the bottom sect go higher and thus the entire curriculum__sect is going higher */
    &__title {
        font-weight: 700;
        text-transform: uppercase;
        /*transform: translateY(.25em);*/
    }
    
    &__number {
        font-size: 2em;
        color: $aqua;
        /*transform: translateY(-.35em);*/
    }
    
}

