
.footer {
    position: relative;
    padding: 2em;
    background-image: url('../img/footer--bg.png');
    background-repeat: repeat;
    border-bottom: 5px solid $gray-darkest;
    
    @include breakpoint (max-width $smaller-450) {
        padding: 2em 1em;
    }
    
    &__wrap {
        color: $gray-light;
        margin-bottom: 3em; 
        max-width: 1280px;
        margin: 0 auto;
    }
    
    &__logo-wrap {
        margin: 1em 0;
    }
    
    &__logo {
        display: inline-block;
    }
    
    &__logo img {
        width: 70%;
        height: auto;
    }
    
    &__main {
        /** flexbox fallback for IE11 **/
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        @supports (display: grid) {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            grid-gap: 2.5em;    
        }
        
        margin: 3em 0;
        line-height: 1.4;
        
        @include breakpoint (max-width $smaller-450) {
            
            @supports (display: grid) {
                grid-gap: 3.5em;    
            }

        }
    }
    
    /** flexbox fallback for IE11 **/
    &__main > * {
        width: 250px;
        margin: 1em;
        
        @supports (display: grid) {
            width: auto;
            margin: 0;
        }
        
    }
    
    &__subheading {
        color: #fff;
        font-weight: 300;
        font-size: 1.2em;
        margin-bottom: 1em;
    }
    
    &__subheading-span {
        font-weight: 700;
    }
    
    &__mission {
        line-height: 1.5;
    }
    
    &__hours {
        color: $aqua;
        margin-bottom: .8em;
    }
    
    &__closings-link {
        color: $aqua;
        text-decoration: underline;
        transition: color 300ms ease-out;
        
        &:hover {
            color: lighten($aqua, 10%);
        }
    }

    &__contact p {
        margin-bottom: 1.2em;
        font-weight: 300;
        overflow: auto;
    }
    
    &__contact-icon {
        text-align: left;
        float: left;
        margin-right: .25em;
        width: 1.1em;
        height: 1.1em;
        fill: $aqua;
        transform: translateY(2px);
    }
    
    &__contact-icon--1 {
        width: 1.2em;
        height: 1.2em;
    }
    
    /* Fix for iphone safari browser showing blue text */
    &__telephone a {
        color: $gray-light !important;
    }
    
    &__fax {
        color: $gray-light !important;
    }
    
    &__shape {
        background-image: url('../img/shape_bottom.png');
        background-repeat: no-repeat;       
        width: 300px;
        height: 45px;      
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    
    &__icon-wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__icon {
        fill: $aqua;
        width: 1.3em;
        height: 1.3em;
        transform: translateY(3px);
    }
    
    &__bottom {
        background-color: $black-lighter;
        padding: 2em;
        color: $gray-light;
    }
    
    &__copyright {
        text-align: center;
        margin-bottom: .5em;
        
        @include breakpoint (max-width $smaller-450) {
            font-size: .95em;
        }
    }
    
    &__design {
        text-align: center;
        font-size: .9em;
    }

    &__me, &__me:visited {
        color: $aqua;
        transition: color 300ms ease-in;
        
        &:hover {
            color: lighten($aqua, 10%);
        }
    }
    
    &__taxid {
        margin-top: 2.5em;
    }
    
}

