
.hero__wrap--seven {
    background-image: url('../img/resources.jpg');
    
    @include breakpoint (max-width 500px) {
        background-image: url('../img/resources--small.jpg');
    }
}


.forms {
    
    &__grid {
        margin-top: 6em;
    }
    
    &__wrap {
        color: $gray-darkest; 
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-template-rows: auto auto;
        grid-column-gap: 1em;
        margin-bottom: 2.5em;
    }  
    
    &__link {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        color: inherit;
        transition: color 300ms ease-out;
        
        &:hover {
            color: $gray;
        }
    }
    
    &__item {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        font-size: 1.2em;
        align-self: end;
        margin-bottom: .1em;
        
        @include breakpoint (max-width $smaller-450) {
            font-size: 1em;
        }
        
    }
    
    &__info {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        font-style: italic;
        align-self: start;
        
        @include breakpoint (max-width $smaller-450) {
            font-size: .95em;
        }
    }
}



