
.current-cal {
    padding: 0 0 3em 0;
    text-align: center;
    
    
    &__image {
        max-width: 600px;
        width: 60%;
        height: auto;
        
        @include breakpoint (max-width $small-560) {
            width: 90%;
        }
    }
    
}


.gallery {
    
    &.fullwidth {
        padding: 0;
        display: flex;
    }
    
    &__image-wrap {
        width: 25%;
        background-color: #000;
        overflow: hidden;
    }
    
    @include breakpoint (max-width $mobile-hamburger) {
        
        &.fullwidth {
            flex-wrap: wrap;
        }
        
        &__image-wrap {
            width: 50%;
        }
        
        &__image-wrap--order {
            order: -1;
        }
    }
    
    
    
    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: .85;
        transition: all 300ms ease-out;
        
        &:hover {
            transform: scale(1.2);
            opacity: 1;
        }
    }
    
}