
.hamburger-icon {
    display: none;
    width: 26px;
    height: 23px;
    cursor: pointer;
    position: fixed;
    top: 54px;
    right: 16px;
    z-index: 8000;
    
    @include breakpoint (max-width $mobile-hamburger) {
        display: block;
    }
    
    &::before {
        content: "";
        position: absolute;
        top: 0;
        height: 4px;
        border-radius: 3em;
        background-color: #000;
        width: 100%;
        transition: all 550ms ease-out;
        transform-origin: left center;
    }

    &__middle {
        top: 50%;
        transform: translateY(-50%);
        height: 4px;
        border-radius: 3em;
        width: 100%;
        background-color: #000;
        position: absolute;
        content: "";
        transition: all 550ms ease-out;
    }

    &::after {
        content: "";
        position: absolute;
        height: 4px;
        border-radius: 3em;
        background-color: #000;
        width: 100%;
        bottom: 0;
        transition: all 550ms ease-out;
        transform-origin: left center;
    }

}

.hamburger-icon.interact {

    &::before {
       transform: rotate(45deg) scaleX(1.1);  
        
    }

    &::after {
        transform: rotate(-45deg) scaleX(1.1) translate(-1px, 1px);  
    }

}

.hamburger-icon.interact .hamburger-icon__middle {
   transform: translateY(-50%) scaleX(0);
}


.header {
    
    
    &__top-sect {
        border-top: 5px solid $gray-darker; 
    }
    
    &__top-sect-container {
        max-width: 1280px;
        margin: 0 auto;
    }
    
    &__top-bar {
        background: url('../../img/cner-536.png') no-repeat top center;
        
        height: 39px;
        width: 536px;
        
        position: relative;
        right: -55vw;

        @include breakpoint (max-width 1280px) {
            right: -50vw;
        }
        
        @include breakpoint (max-width 1130px) {
            right: -45vw;
        }
        
        @include breakpoint (max-width 1020px) {
            right: -40vw;
        }
        
        @include breakpoint (max-width $mobile-hamburger) {
            right: -35vw;
        }
        
        @include breakpoint (max-width 840px) {
            background: url('../../img/cner-301.png') no-repeat top center;
            right: -40vw;
        }
        
        @include breakpoint (max-width 720px) {
            right: -30vw;
        }
        
        @include breakpoint (max-width 615px) {
            right: -22vw;
        }
    }
    
    &__top-bar-contact {   
        position: absolute; 
        right: 4em;
        top: 50%;
        transform: translateY(calc(-50% - 5px));
        color: #fff;
        display: flex;
        align-items: center;    
        padding: 1em 0;
        
        @include breakpoint (max-width 840px) {
            right: 12em;
        }
        
    }
    
    &__top-bar-item + &__top-bar-item {
        margin-left: 1.5em;
    }
    
    
    &__top-bar-item:last-of-type {
        @include breakpoint (max-width 840px) {
            display: none;
        }
    }
    
    
    
    &__top-bar-icon {
       color: $aqua;
        margin-right: .3em;
    }
    
    &__top-bar-link {
        color: #fff;
    }
    
    &__main-sect {
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2em;
        
        @include breakpoint (max-width 1020px) {
            padding: 0 1em;
        }
        
    }
    
    &__logo {
        transform: translateY(-37px);
        margin-bottom: -30px;    
    }

    &__logo-image {
        width: 15.625em;
        height: auto;
        display: block;
    }
    
    &__nav {
        
        @include breakpoint (max-width $mobile-hamburger) {
            display: none;
        }
        
    }
    
    &__nav-list {
        display: flex;
    }

    &__nav-item {
        padding: .5em 0;
        position: relative;
        z-index: 100;
        transition: all 300ms ease-in;
    }
    
    &__nav-item + &__nav-item {
        margin-left: 1em;
    }
    
    &__nav-item.has-submenu::after {
        font-family: "fontawesome";
        content: "\f078";
        padding-left: .3em;
        color: $gray-darker;
    }
    
    &__nav-item:hover {
        box-shadow: inset 0 -0.1875em 0 $royalblue;
    }
    
    &__nav-item:hover .header__nav-link {
        color: $royalblue;
    }
    

    /* if submenus get removed go ahead and add pointer-events: none and change the cursor to some kind of not-allowed */
    &__nav-item.clicked-parent {
        box-shadow: inset 0 -0.1875em 0 $royalblue;
        transition: none;
    }
    
    &__nav-link.clicked {
        color: $royalblue;
        transition: none;
    }
    
    
    &__nav-link {
        
        font-size: .95em;
        
        color: $gray-darker;
        text-transform: uppercase;
        transition: all 300ms ease-in;
        
        @include breakpoint (max-width 1020px) {
            font-size: .85em;
        }
        
    }
    
    /**** 2nd LEVEL  ****/
    &__nav-item ul {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 300%;
        left: 0;
        width: 15rem;
        background-color: $gray-darker;
        border-radius: 5px;
        transition: all 300ms ease-out;
    }
    
    &__nav-item ul li:not(:last-of-type){
        border-bottom: 1px dotted #fff;
    }
    
    &__nav-item:hover > ul {
        opacity: 1;
        visibility: visible;
        top: 100%;
    }
    
    &__nav-item ul a {
        
        font-size: .95em;
        
        display: block;
        padding: 1rem 1.5rem;
        font-family: inherit;
        color: #fff;
        text-transform: uppercase;
        transition: color 300ms ease-out;
        
        @include breakpoint (max-width 1020px) {
            font-size: .9em;
        }
        
    }
    
    &__nav-item ul li:hover a {
        color: $aqua;
    }
    
    &__nav-item ul li::after:hover {
        color: $royalblue;
    }
    
}


.header.sticky {
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.6);
    box-shadow: 0 2px 2px rgba(0,0,0,.4);
    z-index: 1001;
    
    //transition: padding 350ms ease-in;
    
    & .header__top-sect {
        display: none;
    }
    
    & .header__logo-image {
        width: 13.5em;
        height: auto;
        
        // putting inside the sitcky class only so it will only xition on sticky menu in, not out 
        transition: all 600ms ease-out;
    }
    
    & .header__logo {
        transform: none;
        margin-bottom: 0;
    }
    
    & .header__nav-link {
        color: #fff;
        
    }
    
    /*& .header__nav-link.clicked {
        color: $royalblue;
        
    }*/
    
    & .header__nav-item.has-submenu::after {
        color: #fff;
    }
    
}

@include breakpoint (max-width $mobile-hamburger) {

    .header.hamburger-on {

        & .header__nav {
            display: block;
        }

        & .header__main-sect {
            display: block; 
        }

        & .header__nav-list {
            display: flex;
            flex-wrap: wrap;
        }

        & .header__nav-item {
            flex: 1 0 17em;
            margin-left: 0;
            padding: .75em 0;
            background-color: $royalblue; 
        }

        & .header__nav-item:not(:last-of-type) {
            border-bottom: 1px dotted #fff;
            border-right: 1px dotted #fff;
        }

        & .header__nav-item {
            text-align: center;
        }

        & .header__nav-item.has-submenu::after {
            color: #fff;
        }

        & .header__nav-item:hover {
            box-shadow: none;
            background-color: $aqua;
        }

        & .header__nav-item:hover .header__nav-link {
            color: #fff;
        }

        & .header__nav-link {
            color: #fff;

        }

    }

}

.header.sticky.hamburger-on .header__logo-image {
    margin: 0 auto;
}

.header.sticky.hamburger-on .header__nav-item.clicked-parent {
    background-color: $aqua;
    box-shadow: none;
}


.sm {
    font-size: .9em;
}


