

.hero {

    position: relative;
    
    &__wrap {    
        height: 80vh;
        background-image: linear-gradient(to bottom, rgba(0,0,0,.4), rgba(0,0,0,.4)), url('../img/hero.jpg');
        background-size: cover;
        
        color: rgba(255,255,255,.8);
        width: 1200px; 
        position: relative;
        
    }
    
    &__wrap-two {
        height: 80vh;
        background-image: url('../img/hero2.jpg');
        background-size: cover;
        
        color: rgba(255,255,255,.8);
        width: 1200px;
    }
    
    &__wrap-three {
        height: 80vh;
        background-image: url('../img/hero3.jpg');
        background-size: cover;
        
        color: rgba(255,255,255,.8);
        width: 1200px;
    }
    
    &__center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    
    &__heading {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 4em;
        letter-spacing: 2px;
        line-height: 1;
        margin-bottom: .3em;
        
        &--span {
            font-size: .5em;
        }
        
    }
    
    &__subheading {
        font-size: 3em;
        text-transform: uppercase;
        margin-bottom: .7em;
        
        &--span {
            color: $aqua;
        }
    }
    
}

.btn:link, .btn:visited {
    font-size: .8em;
    text-transform: uppercase;
    display: inline-block;
    color: #fff;
    background-color: $aqua;
    padding: 1em 2em;
    border-radius: 99em;
    box-shadow: 1px 1px 2px rgba(0,0,0,.4);
    transition: background-color 300ms ease-out, transform 150ms linear;
    
    &:hover {
        background-color: darken($aqua, 10%);
    }
    
    &:active {
        transform: translate(1px, 2px);
    }
    
}




.cards__btn-2:link, .cards__btn-2:visited {
    background-color: transparent;
    border: 1px solid #fff;
    box-shadow: 1px 1px 2px rgba(0,0,0,.4)
}

.cards__btn-2:hover {
    background-color: transparent !important;
    color: darken(#fff, 20%);
    border-color: darken(#fff, 20%);
}

.cards__btn-2:active {
    transform: translate(1px, 2px);
}