
.hero--overflow {
    overflow: hidden;
}

.hero {

    position: relative;
    
    &__wrap {    
        height: 75vh;
        background-image: linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../img/hero-paid.jpg');
        background-size: cover;
        background-attachment: fixed;
        color: rgba(255,255,255,.8);
        position: relative;
        background-repeat: no-repeat;
        background-position: center center;       
        
        @include breakpoint (max-width 500px) {
            height: 55vh;
            background-attachment: scroll;
            background-position: 20% center;
        }
    }
    
    &__center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        /*** This was the fix to keep the subheading from text wrapping ***/
        width: max-content;
    }
    
    &__heading {
        font-weight: 300;
        font-size: 5.9em;
        letter-spacing: 2px;
        line-height: 1;
        
        visibility: hidden;
        
        @include breakpoint (max-width $medium) {
            font-size: 11.6vw;
        }
        
    }
    
    &__subheading {
        font-size: 3.3em;
        
        visibility: hidden;
        
        @include breakpoint (max-width $medium) {
            font-size: 6.8vw;
        }
        
        &--span {
            color: $aqua;
        }
    }
    
    &__span {
        font-weight: 300;
        font-size: .9em;
    }
    
}

/******* iPhones landscape *******/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
      .hero__wrap {
          height: 65vh;
          background-attachment: scroll;
      }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    .hero__wrap {
          height: 65vh;
          background-attachment: scroll;
      }
}

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .hero__wrap {
          height: 65vh;
          background-attachment: scroll;
      }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .hero__wrap {
          height: 65vh;
          background-attachment: scroll;
      }
}

/******* Galaxy Phones landscape *******/
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: landscape) {
    .hero__wrap {
          height: 65vh;
          background-attachment: scroll;
      }
}

@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
    .hero__wrap {
          height: 65vh;
          background-attachment: scroll;
      }
}

@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {
    .hero__wrap {
          height: 65vh;
          background-attachment: scroll;
      }
}

/******* Pixel Phones landscape *******/
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
    .hero__wrap {
          height: 65vh;
          background-attachment: scroll;
      }
}

@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {
    .hero__wrap {
          height: 65vh;
          background-attachment: scroll;
      }
}




.brush {
    background-image: url('../img/brush-hero-btm.png');
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    height: 63px;
}

.btn:link, .btn:visited {
    font-size: .8em;
    text-transform: uppercase;
    display: inline-block;
    color: #fff;
    background-color: $aqua;
    padding: 1em 2em;
    border-radius: 99em;
    box-shadow: 1px 1px 2px rgba(0,0,0,.4);
    transition: background-color 300ms ease-out, transform 150ms linear;
    
    &:hover {
        background-color: darken($aqua, 10%);
    }
    
    &:active {
        transform: translate(1px, 2px);
    }
    
}



.cards__btn-2:link, .cards__btn-2:visited {
    background-color: transparent;
    border: 1px solid #fff;
    box-shadow: 1px 1px 2px rgba(0,0,0,.4)
}

.cards__btn-2:hover {
    background-color: transparent !important;
    color: darken(#fff, 20%);
    border-color: darken(#fff, 20%);
}

.cards__btn-2:active {
    transform: translate(1px, 2px);
}