.hero__wrap--three {
    background-image: url('../img/school-room.jpg');
}



.program {
    
    padding-right: 0;
    padding-left: 0;
    
    
    &__split--one {
        display: grid;
        grid-template-columns: 1fr 2fr;
        background-color: rgba(0,0,0,.05);
        margin-top: 7em;
    }
    
    &__split-cell--one {
        grid-column: 1 / 2;
        position: relative;
        text-align: right;
    }
    
    &__translate {
        padding: 2em;
        background-color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border-top: 5px solid $aqua;
    }
    
    &__translate--one {
        width: 120%;
        left: 50%;     
    }
    
    &__heading {
        font-size: 1.4em;
        font-weight: 300;
        margin-bottom: 1em;
    }
    
    &__paraa {
       line-height: 1.4; 
    }
    
    
    &__split-cell--two {
        grid-column: 2 / 3;
        
        & img {
            max-width: 90%;
            height: auto;
            display: block;
        
            /* this is needed to get it to expand width to the right */
            margin-left: auto; 
        }
    }


    
    &__split--two {
        display: grid;
        grid-template-columns: 2fr 1fr;
        background-color: rgba(0,0,0,.05);
    }
    
    &__split-cell--three {
        grid-column: 1 / 2;
        
        & img {
            max-width: 90%;
            height: auto;
            display: block;
        }
    }
    
    &__split-cell--four {
        grid-column: 2 / 3;
        position: relative;
        text-align: left;
    }
    
    &__translate--two {
        /* wider since it has more content */
        width: 130%;
        right: 50%;
    }
    
    
    
    &__wrap {
        
        padding-right: 2em;
        padding-left: 2em;
        
        max-width: 1280px;
        margin: 6em auto;
    }
    
    &__sect {
        margin: 0 auto 3em auto;
        width: 80%;
    }
    
    &__sect-flex {
        display: flex;
        border: 1px solid $gray-lighter;
        border-radius: 3px;
        overflow: hidden;
        margin-bottom: 8em;
    }
    
    &__sect-flex--reverse {
        flex-direction: row-reverse;
    }
    
    &__para-wrap {
        flex: 1;
    }
    
    &__para {
        line-height: 1.4;
        padding: 1em 1.5em 1em 1em;
    }
    
    &__para--reverse {
        padding: 1em 1em 1em 1.5em;
    }
    
    &__link {
        color: $aqua;
        transition: color 300ms ease-out;
        
        &:hover {
            color: darken($aqua, 15%);
        }
    }
    
    &__small {
        font-size: 1em;
        display: block;
        font-style: italic;
        margin-top: 1em;
    }
    
    &__table-wrap {
        position: relative;
        flex: 1;
        background-color: $aqua;
        color: #fff;
        padding: 2em;
        
        display: flex;
        align-items: center;
        justify-content: center;
        
        &::before {
            content: "";
            transform: rotate(-90deg);
            position: absolute;
            left: -100%;
            margin-left: -12px;
            top: 50%;
            right: 0;
            background-repeat: repeat;
            height: 12px;
            background-size: 20px 20px;
            background-image: radial-gradient(circle at 10px -5px, transparent 14px, $aqua 16px);
        }
        
        &::after {
            content: "";
            transform: rotate(-90deg);
            position: absolute;
            left: -100%;
            margin-left: -12px;
            top: 50%;
            right: 0;
            background-repeat: repeat;
            height: 12px;
            background-size: 40px 20px;
            background-image: radial-gradient(circle at 10px 15px, $aqua 12px, transparent 13px);
        }
    }
    
    /*** rotation is 90deg not -90 and marging is -22, not -12 ***/
    &__table-wrap--reverse {
        &::before {
            transform: rotate(90deg);
            margin-right: -22px;
            right: -100%;
            left: 0;
        }
        
        &::after {
            transform: rotate(90deg);
            margin-right: -22px;
            right: -100%;
            left: 0;
        }
    }
    
    &__table {
        font-size: 1.1em;
        border-collapse: collapse;
        border: 1px solid #fff;
        transition: all 800ms cubic-bezier(.75, -0.5, .25, 1.32);
        
        transform: translateX(200%)
    }
    
    &__table--reverse {
        transform: translateX(-200%)
    }
    
    &__table--visible {
        transform: translateX(0);
        opacity: 1;
    }
    
    &__table tr {
        
    }
    
    &__table tr:nth-of-type(1n) {
        //background-color: $royalblue;
        background-color: transparent;
    }
    
    &__table tr:nth-of-type(2n) {
        background-color: rgba(255,255,255,.2)
    }
    
    &__table-row--one {
        background-color: $pink-brush !important;
    }
    
    &__table-row--two {
        background-color: $blue-brush !important;
    }
    
    &__table-row--three {
        background-color: $green-brush !important;
    }
    
    &__table th {
        font-family: 'Bubblegum Sans', Arial;
        text-transform: uppercase;
        text-align: center;
        padding: 1em;
    }
    
    &__table td {
        padding: 1em;
    }
    
    
    
    
}

