/* MAY NEED TO ADD OVERFLOW-X: HIDDEN ON TABLE OR TABLE WRAPPER ELEMENTS SINCE THEY ARE OFFSCREEN HORIZONTALLY AND THE ANIMATED IN */


.hero__wrap--three {
    background-image: url('../img/school-room.jpg');
}


.program {
    padding-right: 0;
    padding-left: 0;
    
    &__split--one {
        display: grid;
        grid-template-columns: 1fr 2fr;
        background-color: rgba(0,0,0,.05);
        margin-top: 2em;
        
        @include breakpoint (max-width $medium-760) {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
            margin-bottom: 16em;
        }
        
        @include breakpoint (max-width $smaller-450) {
            margin-bottom: 18em;
        }
    }
    
    &__split-cell--one {
        grid-column: 1 / 2;
        position: relative;
        text-align: right;
        
        @include breakpoint (max-width $medium-760) {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            text-align: left;
        }       

    }
    
    &__translate {
        padding: 2em;
        background-color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border-top: 5px solid $aqua;
        
        @include breakpoint (max-width $mobile-hamburger) {
            padding: 1em;
        }
        
        @include breakpoint (max-width $smaller-400) {
            padding: .5em;
        } 
    }
    
    &__translate--one {
        width: 150%;
        left: 0; 
        
        @include breakpoint (max-width $medium-760) {
            width: 80%;
            left: 10%;
        }  
        
        @include breakpoint (max-width 500px) {
            width: 90%;
            left: 5%;
        } 
        
        @include breakpoint (max-width $smaller-450) {
            width: 100%;
            left: 0;
            transform: translateY(0);
        } 
    }
    
    &__heading {
        font-size: 1.4em;
        font-weight: 300;
        margin-bottom: .5em;
        
        @include breakpoint (max-width $smaller-450) {
            margin-top: .5em;
        } 

    }
    
    &__paraa {
       line-height: 1.4; 
        
        @include breakpoint (max-width $mobile-hamburger) {
            font-size: .95em;
        }
    }
    
    
    &__split-cell--two {
        grid-column: 2 / 3;
        
        @include breakpoint (max-width $medium-760) {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }  
        
        & img {
            max-width: 100%;
            height: auto;
            display: block;
        
            /* this is needed to get it to expand width to the right */
            margin-left: auto; 
        }
    }


    
    &__split--two {
        display: grid;
        grid-template-columns: 2fr 1fr;
        background-color: rgba(0,0,0,.05);
        
        @include breakpoint (max-width $medium-760) {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
            margin-bottom: 16em;
        }
        
        @include breakpoint (max-width 500px) {
            margin-bottom: 22em;
        }
        
        @include breakpoint (max-width $smaller-450) {
            /* extra top margin as there looks like margin collapsing */
            margin-top: 16em;
            margin-bottom: 27em;
        } 
        
        @include breakpoint (max-width $tiny-369) {
            margin-bottom: 29em;
        } 
    }
    
    &__split-cell--three {
        grid-column: 1 / 2;
        
        @include breakpoint (max-width $medium-760) {
            grid-row: 1 / 2;
        } 
        
        & img {
            max-width: 120%;
            height: auto;
            display: block;
            
            @include breakpoint (max-width $medium-760) {
                max-width: 100%;
            } 
            
        }
    }
    
    &__split-cell--four {
        grid-column: 2 / 3;
        position: relative;
        text-align: left;
        
        @include breakpoint (max-width $medium-760) {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            text-align: left;
        }    
    }
    
    &__translate--two {
        /* wider since it has more content */
        width: 150%;
        right: 0;
        
        @include breakpoint (max-width $medium-760) {
            width: 80%;
            left: 10%;
        } 
        
        @include breakpoint (max-width 500px) {
            width: 90%;
            left: 5%;
            
            /*** using top DOES NOT WORK here  ***/
            transform: translateY(-30%);
        } 
        
        @include breakpoint (max-width $smaller-450) {
            width: 100%;
            left: 0;
            transform: translateY(0);
        } 
    }
    
    
    
    &__wrap {     
        padding-right: 2em;
        padding-left: 2em;
        max-width: 1280px;
        margin: 8em auto 6em auto;
        
        @include breakpoint (max-width $mobile-hamburger) {
            margin-bottom: 0;
        } 
        
        @include breakpoint (max-width $small-560) {
            padding-right: 1em;
            padding-left: 1em;
        } 
        
        @include breakpoint (max-width $smaller-450) {
            padding-right: .5em;
            padding-left: .5em;
        } 
        
        @include breakpoint (max-width $smaller-400) {
            padding-right: 0;
            padding-left: 0;
        }
    }
    
    &__sect {
        margin: 0 auto 3em auto;
        width: 80%;
        
        @include breakpoint (max-width $larger-1120) {
            width: 90%;
        } 
        
        @include breakpoint (max-width $mobile-hamburger) {
            width: 100%;
        } 
        
    }
    
    &__sect-flex {
        display: flex;
        border: 1px solid $gray-lighter;
        border-radius: 3px;
        overflow: hidden;
        margin-bottom: 8em;

        @include breakpoint (max-width $medium) {
            flex-direction: column;
        } 
        
        @include breakpoint (max-width $smaller-400) {
            border: 0;
            border-radius: 0;
        }
    }
    
    &__sect-flex:last-of-type {
        @include breakpoint (max-width $mobile-hamburger) {
            margin-bottom: 0;
        } 
    }
    
    &__sect-flex--reverse {
        flex-direction: row-reverse;
        
        @include breakpoint (max-width $medium) {
            flex-direction: column;
        } 
    }
    
    &__para-wrap {
        flex: 1;
    }
    
    &__para {
        line-height: 1.4;
        padding: 1em 1.5em 1em 1em;
        
        @include breakpoint (max-width $medium) {
            padding: 1em 1em 2em 1em;
        } 
        
        @include breakpoint (max-width $smaller-450) {
            font-size: .95em;
        }
    }
    
    &__para--reverse {
        padding: 1em 1em 1em 1.5em;
        
        @include breakpoint (max-width $medium) {
            padding: 1em 1em 2em 1em;
        } 
    }
    
    &__link {
        color: $aqua;
        transition: color 300ms ease-out;
        
        &:hover {
            color: darken($aqua, 15%);
        }
    }
    
    &__small {
        font-size: 1em;
        display: block;
        font-style: italic;
        margin-top: 1em;
    }
    
    &__table-wrap {
        position: relative;
        flex: 1;
        background-color: $aqua;
        color: #fff;
        padding: 2em;
        
        display: flex;
        align-items: center;
        justify-content: center;
        
        @include breakpoint (max-width $smaller-450) {
            padding: 2em 1em;
        }
        
        &::before {
            content: "";
            transform: rotate(-90deg);
            position: absolute;
            left: -100%;
            margin-left: -12px;
            top: 50%;
            right: 0;
            background-repeat: repeat;
            height: 12px;
            background-size: 20px 20px;
            background-image: radial-gradient(circle at 10px -5px, transparent 14px, $aqua 16px);
            
            @include breakpoint (max-width $medium) {
                left: 0;
                top: -12px;
                transform: rotate(0);
                
                /* NEED TO UNDO THE NEGATIVE MARGIN?? */
            } 
        }
        
        &::after {
            content: "";
            transform: rotate(-90deg);
            position: absolute;
            left: -100%;
            margin-left: -12px;
            top: 50%;
            right: 0;
            background-repeat: repeat;
            height: 12px;
            background-size: 40px 20px;
            background-image: radial-gradient(circle at 10px 15px, $aqua 12px, transparent 13px);
            
            @include breakpoint (max-width $medium) {
                left: 0;
                top: -12px;
                transform: rotate(0);
                
                /* NEED TO UNDO THE NEGATIVE MARGIN?? */
            } 
        }
    }
    
    /*** rotation is 90deg not -90 and margin is -22, not -12 ***/
    &__table-wrap--reverse {
        &::before {
            transform: rotate(90deg);
            margin-right: -22px;
            right: -100%;
            left: 0;
            
            @include breakpoint (max-width $medium) {
                right: 0;
                top: -12px;
                transform: rotate(0);
                
                /* NEED TO UNDO THE NEGATIVE MARGIN?? */
            } 
        }
        
        &::after {
            transform: rotate(90deg);
            margin-right: -22px;
            right: -100%;
            left: 0;
            
            @include breakpoint (max-width $medium) {
                right: 0;
                top: -12px;
                transform: rotate(0);
                
                /* NEED TO UNDO THE NEGATIVE MARGIN?? */
            } 
        }
    }
    
    &__table {
        font-size: 1.1em;
        border-collapse: collapse;
        border: 1px solid #fff;
        transition: all 800ms cubic-bezier(.75, -0.5, .25, 1.32);
        transform: translateX(200%);
        
        @include breakpoint (max-width $smaller-450) {
            font-size: 1em;
        }
        
        @include breakpoint (max-width $tiny-369) {
            font-size: .95em;
        }
    }
    
    &__table--reverse {
        transform: translateX(-200%);
    }
    
    &__table--visible {
        transform: translateX(0);
        opacity: 1;
    }
    
    &__table tr:nth-of-type(1n) {
        background-color: transparent;
    }
    
    &__table tr:nth-of-type(2n) {
        background-color: rgba(255,255,255,.2)
    }
    
    &__table-row--one {
        background-color: $pink-brush !important;
    }
    
    &__table-row--two {
        background-color: $blue-brush !important;
    }
    
    &__table-row--three {
        background-color: $green-brush !important;
    }
    
    &__table th {
        font-family: 'Bubblegum Sans', Arial;
        text-transform: uppercase;
        text-align: center;
        padding: 1em;
        
        @include breakpoint (max-width $smaller-450) {
            padding: .75em;
        }
    }
    
    &__table td {
        padding: 1em;
        
        @include breakpoint (max-width $smaller-450) {
            padding: .75em;
        }
    }

    
}

