.hero__wrap-2.ourstaff {
    background-image: url('../img/staff.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.staff {
    max-width: 1280px;
    margin: 6em auto 0 auto;
    
    &__about {
        font-size: 1.1em;
        width: 80%;
        margin: 4em auto;
        line-height: 1.4;
    }
    
    &__heading {
        text-align: center;
        font-size: 1.4em;
        text-transform: uppercase;
        margin-bottom: 1.5em;
        letter-spacing: .05em;
    }
    
    &__office-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 1.5em;
        margin-bottom: 10em;
    }
    
    &__individual {
        position: relative;
        width: 300px;
    }
    
    &__image {
        max-width: 100%;
        height: auto;
        display: block;
    }
    
    &__summary {
        position: absolute;
        bottom: -12%;
        background-color: #fff;
        padding: 2em;
        left: 10%;
        right: 10%;
        border-bottom: 3px solid $pink-brush;
    }
    
    &__summary--blue {
        border-bottom: 3px solid $blue-brush;
    }
    
    &__summary--green {
        border-bottom: 3px solid $green-brush;
    }
    
    &__name {

    }
    
    &__email {
        font-size: 1.25em;
        display: inline-block;
        margin-right: .15em;
        color: lighten($royalblue, 15%);
        transition: color 300ms ease-out;
        
        &:hover {
            color: $royalblue;
        }
    }
    
    &__icon {
        width: 1em;
        height: 1em;
        fill: lighten($royalblue, 15%);
    }
    
    &__title {
        font-style: italic;
        font-size: 1.1em;
    }
    
    
    /******* TEACHERS ******/
    
    &__teachers-link--current {
        color: red;
    }
    
    &__teachers-listout {
        display: none;
    }
    
    &__teachers-listout--visible {
        display: block;
    }
    
    
}






