
.hero__wrap--five {
    background-image: url('../img/staff.jpg');
    background-repeat: no-repeat;
    background-position: 90%;
}

/**** iPhones landscape *****/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
     .hero__wrap--five {
        background-position: center;
    } 
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    .hero__wrap--five {
        background-position: center;
    } 
}

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
     .hero__wrap--five {
        background-position: center;
    } 
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .hero__wrap--five {
        background-position: center;
    } 
}

/******* Galaxy Phones landscape *******/
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: landscape) {
    .hero__wrap {
          background-position: center;
      }
}

@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
    .hero__wrap {
          background-position: center;
      }
}

@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {
    .hero__wrap {
          background-position: center;
      }
}

/******* Pixel Phones landscape *******/
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
    .hero__wrap {
          background-position: center;
      }
}

@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {
    .hero__wrap {
          background-position: center;
      }
}


.staff {
    max-width: 1280px;
    margin: 0 auto 0 auto;
    
    @include breakpoint (max-width 645px) {
        padding: 6em 0;
    }
    
    &__about {
        font-size: 1.1em;
        width: 80%;
        margin: 6em auto 8em auto;
        line-height: 1.5;
        
        @include breakpoint (max-width $medium-760) {
            font-size: 1em;
            margin: 4em auto 5em auto;
        }
        
        @include breakpoint (max-width $small-560) {
            width: 90%;
        }
        
        @include breakpoint (max-width $smaller-450) {
            font-size: .95em;
            line-height: 1.4;
            width: 95%;
        }
    }
    
    &__office-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 1.5em;
        margin-bottom: 15em;
        margin-top: 3em;
        justify-items: center;
        
        @include breakpoint (max-width 645px) {
            margin-bottom: 10em;
            grid-template-columns: 1fr;
            grid-gap: 7em 0;
        }
    }
    
    &__individual {
        position: relative;
        width: 300px;
        
        @include breakpoint (max-width 1020px) {
            width: 250px;
        }
        
        @include breakpoint (max-width 870px) {
            width: 220px;
        }
        
        @include breakpoint (max-width $medium-760) {
            width: 180px;
        }
        
        @include breakpoint (max-width 645px) {
            width: 300px;
        }
    }
    
    &__image {
        max-width: 100%;
        height: auto;
        display: block;
    }
    
    &__summary {
        position: absolute;
        bottom: -12%;
        background-color: #fff;
        padding: 2em;
        left: 10%;
        right: 10%;
        z-index: 3;
        
        @include breakpoint (max-width 1020px) {
            bottom: -15%;
        }
        
        @include breakpoint (max-width 870px) {
            padding: 1.2em 1em;
            bottom: -12%;
        }
        
        @include breakpoint (max-width $medium-760) {
            left: 5%;
            right: 5%;
            bottom: -14.5%;
        }
        
        @include breakpoint (max-width 645px) {
            padding: 2em;
            bottom: -12%;
            left: 10%;
            right: 10%;
        }

    }
    
    &__summary--noabsolute {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        width: 50%;
        padding: 2em;
        box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
        margin: 3.5em auto;
        
        text-align: center;
        
        @include breakpoint (max-width $smaller-450) {
            padding: 1.5em 1em;
        }
        
         @include breakpoint (max-width $tiny-369) {
            font-size: .92em;
        }
        
        
        &::after {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            right: 0;
            height: 3px;
            background: $pink-brush;
            z-index: 1;
            transition: height 300ms ease-out;
        }
        
        &:hover::after {
            height: 100%;
        }
        
        &:hover .staff__title {
            color: #fff;
        }
        
        &:hover .staff__email {
            color: #fff;
        }
        
        &:hover .staff__icon {
            fill: #fff;
        }
        
        
        
        
    }
    
    &__summary:hover::after {
        height: 100%;
    }
    
    &__summary:hover &__title {
        color: #fff;
    }
    &__summary:hover &__email {
        color: #fff;
    }
    
    &__summary:hover &__icon {
        fill: #fff;
    }
    
    &__summary::after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        right: 0;
        height: 3px;
        background: $pink-brush;
        z-index: 1;
        transition: height 300ms ease-out;
    }
    
    &__summary--blue::after {
        background: $blue-brush;
    }
    
    &__summary--green::after {
        background: $green-brush;
    }
    
    &__summary--orange::after {
        background: $orange-brush;
    }
    
    &__name {
        position: relative;
        z-index: 2;
    }
    
    &__email {
        font-size: 1.25em;
        display: inline-block;
        margin-right: .15em;
        color: lighten($royalblue, 15%);
        transition: color 300ms ease-out;
        
        &:hover {
            color: $royalblue;
        }
        
        @include breakpoint (max-width 870px) {
            font-size: 1.1em;
        }
        
        @include breakpoint (max-width 645px) {
            font-size: 1.25em;
        }
    }
    
    &__icon {
        width: 1em;
        height: 1em;
        fill: lighten($royalblue, 15%);
    }
    
    &__title {
        font-style: italic;
        font-size: 1.1em;
        
        position: relative;
        z-index: 2;
        
        @include breakpoint (max-width 870px) {
            font-size: 1.05em;
        }
        
        @include breakpoint (max-width 645px) {
            font-size: 1.1em;
        }
        
    }
    
    
    
    
    /******* TEACHERS ******/
    &__teachers {
        
    }
    
    &__teachers-grid {
        display: grid;
        grid-template-columns: 1fr 3fr;
        border: 1px solid $gray-lighter;
        margin-bottom: 4em;
        margin-top: 3em;
        
        @include breakpoint (max-width $small-560) {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
        }
    }
    
    &__teachers-list {
        position: relative;
        background-color: #fff;

        @include breakpoint (max-width $small-560) {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
    
    &__teachers-hdg {
        background: $aqua;
        height: 93px;
        width: 100%;
        position: relative;
        line-height: 93px;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.3em;
        
        @include breakpoint (max-width $small-560) {
            flex: 0 0 100%;
        }
    }
    
    &__teachers-hdg::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-repeat: repeat;
        height: 12px;
        background-size: 20px 20px;
        background-image: radial-gradient(circle at 10px -5px, transparent 14px, #f8f8f8 16px);
    }
    
    &__teachers-hdg::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-repeat: repeat;
        height: 12px;
        background-size: 40px 20px;
        background-image: radial-gradient(circle at 10px 15px, #f8f8f8 12px, transparent 13px)
    }
    
    &__teachers-btmhdg {
        background: $aqua;
        height: 93px;
        left: 0;
        bottom: 0;
        width: 100%;
        position: absolute;
        
        @include breakpoint (max-width $small-560) {
            display: none;
        }
    }
    
    &__teachers-btmhdg::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        background-repeat: repeat;
        height: 12px;
        background-size: 20px 20px;
        background-image: radial-gradient(circle at 10px -5px, transparent 14px, #f8f8f8 16px);
        transform: rotate(180deg);
    }
    
    &__teachers-btmhdg::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        background-repeat: repeat;
        height: 12px;
        background-size: 40px 20px;
        background-image: radial-gradient(circle at 10px 15px, #f8f8f8 12px, transparent 13px);
        transform: rotate(180deg);
    }
    
    &__teachers-item {
        padding: 1em;
        text-align: center;
        
        @include breakpoint (max-width $small-560) {
            padding: 1em .5em;          
        }
    }
    
    &__teachers-item--first {
        margin-top: 1em;
        
        @include breakpoint (max-width $small-560) {
            margin-top: 0;          
        }
    }
    
    &__teachers-item--last {
        margin-bottom: calc(93px + 1em);
        
        @include breakpoint (max-width $small-560) {
            margin-bottom: 0;
            margin-right: 0;
        }
        
    }
    
    &__teachers-link {
        font-family: 'Bubblegum Sans', Arial;
        
        color: $gray-darkest;
        text-transform: uppercase;
        transition: color 300ms ease-out;
        
        &:hover {
            color: $aqua;
        }
    }
    
    &__teachers-link--current {
        color: $aqua;
        font-weight: 700;
    }

    &__teachers-listout {
        display: none;
        transition: all 500ms ease-out;
    }
    
    &__teachers-listout--visible {
        display: block;
        height: 100%;
    }
    
    &__teachers-table-wrap {
        color: #fff;
        
        @include breakpoint (max-width $small-560) {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
    }
    
    
    &__teachers-table {
        width: 100%;
        height: 100%;
        border-collapse: collapse;
    }
    
    &__teachers-table tr:nth-of-type(odd) {
        background-color: $gray-darker;
    }
    
    &__teachers-table tr:nth-of-type(even) {
        background-color: $gray-dark;
    }
    
    &__teachers-table th {
        text-align: left;
        padding: 1em;
        text-transform: uppercase;
        font-weight: 700;
    }
    
    &__teachers-table td {
        padding: .5em .5em .5em 1em;
        
        @include breakpoint (max-width $small-560) {
            font-size: .95em;
        }
        
    }
    
    /*&__teachers-table td a {
        color: inherit;
        transition: color 300ms ease-out;
        
        &:hover &__teachers-icon {
            color: $aqua;
        }
        
    }*/
    
    &__teachers-icon {
        width: 1.5em;
        height: 1.5em;
        fill: #fff;
        transform: translateY(1px);
        transition: fill 350ms ease-out;
        
        &:hover {
            fill: $aqua;
        }
    }
    
}






