.hero__wrap-2.ourstaff {
    background-image: url('../img/staff.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.staff {
    max-width: 1280px;
    margin: 6em auto 0 auto;
    
    &__about {
        font-size: 1.1em;
        width: 80%;
        margin: 6em auto;
        line-height: 1.5;
    }
    
    &__heading {
        text-align: center;
        font-size: 1.4em;
        text-transform: uppercase;
        margin-bottom: 3em;
        letter-spacing: .05em;
    }
    
    &__office-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 1.5em;
        margin-bottom: 10em;
    }
    
    &__individual {
        position: relative;
        width: 300px;
    }
    
    &__image {
        max-width: 100%;
        height: auto;
        display: block;
    }
    
    &__summary {
        position: absolute;
        bottom: -12%;
        background-color: #fff;
        padding: 2em;
        left: 10%;
        right: 10%;
        border-bottom: 3px solid $pink-brush;
    }
    
    &__summary--blue {
        border-bottom: 3px solid $blue-brush;
    }
    
    &__summary--green {
        border-bottom: 3px solid $green-brush;
    }
    
    &__name {

    }
    
    &__email {
        font-size: 1.25em;
        display: inline-block;
        margin-right: .15em;
        color: lighten($royalblue, 15%);
        transition: color 300ms ease-out;
        
        &:hover {
            color: $royalblue;
        }
    }
    
    &__icon {
        width: 1em;
        height: 1em;
        fill: lighten($royalblue, 15%);
    }
    
    &__title {
        font-style: italic;
        font-size: 1.1em;
    }
    
    
    /******* TEACHERS ******/
    &__teachers {
        
    }
    
    &__teachers-grid {
        display: grid;
        grid-template-columns: 1fr 3fr;
        border: 1px solid $gray-lighter;
        margin-bottom: 4em;
    }
    
    &__teachers-list {
        position: relative;
        background-color: #fff;
    }
    
    &__teachers-hdg {
        background: $aqua;
        height: 93px;
        width: 100%;
        position: relative;
        line-height: 93px;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.3em;
    }
    
    &__teachers-hdg::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-repeat: repeat;
        height: 12px;
        background-size: 20px 20px;
        background-image: radial-gradient(circle at 10px -5px, transparent 14px, #f8f8f8 16px);
    }
    
    &__teachers-hdg::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-repeat: repeat;
        height: 12px;
        background-size: 40px 20px;
        background-image: radial-gradient(circle at 10px 15px, #f8f8f8 12px, transparent 13px)
    }
    
    &__teachers-btmhdg {
        background: $aqua;
        height: 93px;
        left: 0;
        bottom: 0;
        width: 100%;
        position: absolute;
    }
    
    &__teachers-btmhdg::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        background-repeat: repeat;
        height: 12px;
        background-size: 20px 20px;
        background-image: radial-gradient(circle at 10px -5px, transparent 14px, #f8f8f8 16px);
        transform: rotate(180deg);
    }
    
    &__teachers-btmhdg::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        background-repeat: repeat;
        height: 12px;
        background-size: 40px 20px;
        background-image: radial-gradient(circle at 10px 15px, #f8f8f8 12px, transparent 13px);
        transform: rotate(180deg);
    }
    
    &__teachers-item {
        padding: 1em;
        text-align: center;
    }
    
    &__teachers-item--first {
        margin-top: 1em;
    }
    
    &__teachers-item--last {
        margin-bottom: calc(93px + 1em);
    }
    
    &__teachers-link {
        color: $gray-darkest;
        text-transform: uppercase;
        transition: color 300ms ease-out;
        
        &:hover {
            color: $aqua;
        }
    }
    
    &__teachers-link--current {
        color: $aqua;
        font-weight: 700;
    }

    &__teachers-listout {
        display: none;
    }
    
    &__teachers-listout--visible {
        display: block;
        //display: flex;
        //flex-direction: column;
        height: 100%;
    }
    
    &__teachers-table-wrap {
        color: #fff;
    }
    
    
    &__teachers-table {
        width: 100%;
        height: 100%;
        border-collapse: collapse;
        //flex: 1;
    }
    
    &__teachers-table tr:nth-of-type(odd) {
        background-color: $gray-darker;
    }
    
    &__teachers-table tr:nth-of-type(even) {
        background-color: $gray-darkest;
    }
    
    &__teachers-table th {
        text-align: left;
        padding: 1em;
        text-transform: uppercase;
        font-weight: 700;
    }
    
    &__teachers-table td {
        padding: .5em .5em .5em 1em;
        
    }
    
    &__teachers-table td a {
        color: inherit;
        transition: color 300ms ease-out;
        
        &:hover {
            color: $aqua;
        }
        
    }
    
}






